.card{
    width: 200px;
    height: 500px;
}
.small_img{
    height: 200px;
    width: 150px;
}

.container{
    padding: 100px 50px;
}

footer{
    padding: 08px 0px;
    color: aliceblue;
    text-align: center;
    font-size: 12px;
}